#contain{
    text-align: center;
    border-style: solid;
    margin: 5%;
}
td{
    text-align: justify;
    height: 100%;
}
button{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.clear{
    position: relative;
    height: 100%;
}
#btnclear{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}

#result{
    border:solid;
    border-color: aqua;
    height:50px;
    font-size:20px;
    margin-bottom: 10px;
    text-align: right;
}
#statement{
    border:solid;
    border-color: aqua;
    height:50px;
    font-size:20px;
    margin-bottom: 10px;
    text-align: right;
}
