#contain{
    text-align: center;
    border-style: solid;
    border-color: #5cd4ff;
    margin: 5%;
    background-color: azure;
}
td{
    text-align: justify;
    height: 100%;
}
button{
    width: 100%;
    height: 100%;
    box-shadow: 2px 3px 2px rgba(0,0,0,.2);
}

#result{
    border:solid;
    border-color: #5cd4ff;
    height:50px;
    font-size:20px;
    margin-bottom: 10px;
    text-align: right;
    padding: .5%;
}
#statement{
    border:solid;
    border-color: #5cd4ff;
    height:50px;
    font-size:20px;
    margin-bottom: 10px;
    text-align: right;
    padding: .5%;
}
td.clr, td.clr{
    position: relative;
}

#btnClr, #btnEql{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;

}